.banner {
    background: var(--azul-degrade);
    height: 215px;
    width: 100%;
    color: var(--branco);
    text-align: center;
    padding: 2.5em 2em;
    box-sizing: border-box;
}

.banner__titulo {
    margin-top: 28px;
    margin-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
}

.banner__texto {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: 500;
}

.banner__pesquisa {
    background: transparent;
    border: 1px solid white;
    border-radius: 20px;
    width: 100%;
    padding: 1em;
    text-align: center;
    color: var(--branco);
}

.banner__pesquisa::placeholder {
    font-family: var(--fonte-principal);
    color: var(--branco);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    background-image: url(../img/Pesquisa.svg);
    background-repeat: no-repeat;
    background-position: 1em;
}

@media screen and (min-width: 1024px) {
    .banner__titulo {
        font-size: 36px;
    }

    .banner__pesquisa {
        width: 400px;
    }
}

@media screen and (min-width: 1728px) {
    .banner__pesquisa {
        width: 35%;
    }

    .banner__pesquisa::placeholder {
        background-position: 12em;
    }

    .banner {
        padding: 2em 0;
    }
}